body {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
}

.loginForm {
  width: 70%;
}

.form-group {
  padding: 10px;
}

h2,
p {
  margin: 15px 60px 15px 60px;
}

p {
  font-size: 20px;
  padding-bottom: 60px;
}

h2 {
  padding-top: 70px;
  font-size: xx-large;
}

form {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: left;
  width: 100%;
  margin: 50px 0px;
}

input {
  background-color: #f7f4f4;
  border: none;
  border-bottom: 1px solid gray;
  color: #4b4b4b;
}

button {
  border: none;
  height: 40px;
  width: 50%;
  background-color: #f7f4f4;
  margin-bottom: 40x;
}

.container {
  background-color: #f7f4f4;
  width: 70%;
  margin: 30px;
}

.loginbox {
  width: 50%;
  padding-right: 100px;
  color: #686767;
}

.check {
  margin-top: 40px;
}

.loginbox {
  float: right;
  top: 0;
  left: 50%;
  height: 100%;
}

.left-box {
  background-color: #52a7ec;
  float: left;
  top: 0;
  left: 50%;
  width: 30%;
  height: 100%;
  color: white;
}
