body {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
}

.container {
  background-color: #f7f4f4;

}

.loginbox {
  float: right;
  width: auto;
  color: #8a8a8a;
}

form {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  height: auto;
  text-align: left;
  width: auto;
  
}

button {
  border: none;
  width: 70px;
  height: 30px;
  background-color: #f7f4f4;
  margin-bottom: 60px;
}

.left-box {
  float: left;
  top: 0;
  left: 50%;
  width: 40%;
  height: 100%;
  color: white;
}

h2,
p {
  margin: 15px 60px 15px 60px;
}

p {
  font-size: 10px;
  padding-bottom: 60px;
}

h2 {
  padding-top: 70px;
}
